<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Faturamento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<form action="/faturamento" method="post">
    <div class="container">
        <div class="row">
            <div class="col-12 justify-content-end mx-auto">
                <div class="d-flex justify-content-end">
                    <form action="faturamento">
                        <div class="d-flex">
                            <div>
                                <label>Data(de)</label>
                                <input type="date" class="form-control" name="inicial" required></input>
                            </div>
                            <div>
                                <label>Data(até)</label>
                                <input type="date" class="form-control" name="final" required></input>
                            </div>
                        </div>

                        <div>
                            <button class="btn btn-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div><!-- FIM FI-->
            <i class="bi bi-coin"></i>

            <!-- ACIMA FICAM OS FILTROS - -->
            <div class="col-md-12 mx-auto">
                <table class="table table-striped table-hover tb-passagem">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">De</th>
                        <th scope="col">Até</th>
                        <th scope="col">Valor</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>dd/mm/aaaa</td>
                        <td>dd/mm/aaaa</td>
                        <td>R$</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <!-- FIM TABLE PASSAGEM -->
            <a class="h3"  th:href="@{/}">Voltar</a>
        </div>
    </div>
</form>
</body>
</html>